{% extends 'base_page.html' %}
{% block title %}Live Feed{% endblock %}

{% block content %}
    <div id="live-monitoring" class="section">
        <h1>Live Monitoring</h1>
        <div class="live-monitoring-content">
            <div class="camera-feed">
                <h3>Webcam Feed</h3>
                <div class="feed">
                    <img src="{{ url_for('detection.stream_livefeed') }}" alt="Camera Feed">
                </div>
            </div>
        </div>
    </div>

    <!-- Information Area -->
    <div id="information-area" class="information">
        <h3>Information</h3>
        <ul id="detected-classes"></ul>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.socket.io/4.5.1/socket.io.min.js"></script>

    <script>
        const socket = io();

        // Listen for detection updates from the backend
        socket.on("detection_update", function(data) {
            const detectedClasses = document.getElementById("detected-classes");
            detectedClasses.innerHTML = ""; // Clear previous detections

            data.detected_classes.forEach(class_name => {
                const listItem = document.createElement("li");
                listItem.innerText = class_name;
                detectedClasses.appendChild(listItem);
            });
        });
    </script>
{% endblock %}
