{% extends 'base_page.html' %}
{% block title %} Reports {% endblock %}
    {% block content %}
    <h2>Detection Report</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>DateTime</th>
            <th>Image</th>
            <th>Company ID</th>
        </tr>
        {% for record in records %}
        <tr>
            <td>{{ record.id }}</td>
            <td>{{ record.datetime }}</td>
            <td>
                {% if record.image_data %}
                <img src="data:image/png;base64,{{ record.image_data }}" width="100"/>
                {% else %}
                No Image
                {% endif %}
            </td>
            <td>{{ record.company_id }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endblock %}
