<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PPE Detection System{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base_page.css') }}">
    
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <div class="navbar-brand">PPE Detection System</div>
        <div class="navbar-links">
            <a href="{{ url_for('dashboard.home_page') }}">Home</a>
            <a href="{{ url_for('profile.profile_page') }}">Profile</a>
            <a href="{{ url_for('auth.logout') }}" id="logout">Logout</a>
        </div>
    </div>

     <!-- Main Container with Sidebar -->
     <div class="main-container">
        <!-- Sidebar with the toggle button -->
        <div id="sidebar" class="sidebar">
            <button class="toggle-btn">☰</button>
            <ul class="menu">
                <li><a href="{{ url_for('detection.live_feed_page') }}">Live Monitoring</a></li>
                <li><a href="{{ url_for('detection.reports_page') }}">Reports</a></li>
                <li><a href="settings.html">Settings</a></li>
            </ul>
        </div>
        
        <div class="main-content">
            {% block content %}
            <!-- Child pages will insert content here -->
            {% endblock %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='base_page.js') }}" defer></script>
</body>
</html>
   
        
 